.grid{
    display: grid;
    border: solid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    width: 400px;
    height: 400px;

}
.grid-element {
    user-select: none;
  }


